<section class="panel">
  <div class="panel-header">
    <h2><%= title %></h2>
    <% if badge %>
      <%= badge %>
    <% end %>
  </div>
  <div class="panel-body">
    <%= body %>
  </div>
</section>
